{% load staticfiles %}

<html>

<head>
    <link href="{% static "frontend/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "frontend/index.css" %}" rel="stylesheet">
    <link href="{% static "frontend/style.css" %}" rel="stylesheet">
    <link href="{% static "frontend/Leaderboard.css"%}" rel="stylesheet">


    <!-- <script src="js/bootstrap.min.js"></script>  -->
    <!-- <script src="jquery.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->

</head>

<body>
    <div id="root">

    </div>
    {% load staticfiles %}
    <script src="{% static "frontend/appindex.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/twilight");
        editor.session.setMode("ace/mode/c_cpp");
    </script>
</body>

</html>